# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
# add test line

pytest
pytz
mock
build
pylint
coverage
pytest-cov
flake8
structlog~=22.3.0